@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


html {
    scroll-padding-top: 60px;
}

body {
    background-color: #f6f6f6;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

a {
    text-decoration: none;
    color: #fff;
}

ul {
    list-style: none;
}

.title {
    font-family: 'Abril Fatface', cursive;
}

.logo {
    display: flex;
    align-items: center;
}

.logo a {
    background-image: linear-gradient(to right bottom, #845EC2, #D65DB1, #FF6F91, #FF9671, #FFC75F, #F9F871);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    letter-spacing: 1px;
}

.header {
    position: fixed;
    z-index: 999;
    width: 100%;
    top: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 50px;
    background-color: #fff;

}


.links {
    display: flex;
}

.links>li>a {
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    width: 100px;
    height: 50px;
    color: #FF6F91;
    font-size: 20px;
    margin: 5px;
    border-radius: 8px;
    letter-spacing: 1px;
    transition: all .3s ease;
}

.links>li>a:hover {
    color: #fff;
    background-color: pink;
}

.hambur {
    position: relative;
    background-color: #D65DB1;
    width: 3em;
    height: 3em;
    border-radius: 8px;
    cursor: pointer;
    display: none;
}

.hambur::after {
    content: "";
    position: absolute;
    width: 1em;
    height: 0.2em;
    top: 1em;
    left: 1em;
    border-top: 0.6em double #fff;
    border-bottom: 0.2em solid #fff;
}



.banner-bg {
    margin-top: 60px;
    position: relative;
    background-image: url(imgs/banner.webp);
    height: 100vh;
    background-position: center;
    background-size: cover;
    filter: blur(2px);

}

.banner-text {
    position: absolute;
    color: #fff;
    font-size: 50px;
    text-transform: capitalize;
    letter-spacing: 2px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.contact-btn {
    width: 100px;
    padding: 5px;
    text-transform: lowercase;
    text-align: center;
    margin-top: 10px;
    border-radius: 10px;
    font-size: 24px;
    background-image: linear-gradient(to right bottom, #845EC2, #D65DB1, #FF6F91, #FF9671, #FFC75F, #F9F871);
}

.contact-btn a {
    color: #fff;
}

.container {
    width: 80%;
    margin: 0 auto;
}

#about {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}


#about,
#coffee,
#matcha,
#others {
    margin-top: 100px;
}

/* .about-img {
    width: 500px;
} */

.about-img img {
    width: 600px;
    border-radius: 10px;
    display: block;
}

.about-text {
    width: 50%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    line-height: 1.6;
}

.about-text h2,
.coffee-text h2,
.matcha-text h2,
.others-text h2 {
    margin-bottom: 20px;
    letter-spacing: 2px;

}

.about-text p {
    text-align: justify;
}

.coffee,
.matcha {
    display: flex;
}

.coffee-list,
.matcha-list {
    display: flex;
    justify-content: space-around;
}

.coffee-item,
.matcha-item {
    width: 25%;
    border-radius: 10px;
    overflow: hidden;
    transition: all .3s ease;
}

.coffee-item:hover,
.matcha-item:hover {
    box-shadow: 5px 5px 15px rgba(128, 128, 128, 0.685);
}

.coffee-item img,
.matcha-item img,
.others-item-img {
    width: 100%;
    display: block;
}

.coffee-text,
.matcha-text {
    width: 25%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.coffee-btn,
.matcha-btn,
.others-btn {
    background-image: linear-gradient(to right bottom, #845EC2, #D65DB1, #FF6F91, #FF9671, #FFC75F, #F9F871);
    width: 80px;
    border-radius: 10px;
    padding: 5px;
    text-align: center;
    margin: 10px auto;
}

.others {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.others-item {
    width: 400px;
    height: 400px;
    margin: 20px;
    border-radius: 10px;
    overflow: hidden;
}

.others-item img {
    display: block;
    width: 100%;
}

.others-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
    border: 2px solid green;
    text-align: center;
    border-radius: 10px;
}

.others-text h2 {
    text-align: center;
}

.add-cart {
    position: relative;
    transition: all .3s ease;
}

.add {
    position: absolute;
    background-image: linear-gradient(to right bottom, #845EC2, #D65DB1, #FF6F91, #FF9671, #FFC75F, #F9F871);
    width: 100px;
    height: 30px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    text-transform: capitalize;
    line-height: 30px;
    text-align: center;
    display: none;
}

.add-cart:hover.add-cart img {
    opacity: .6;
    filter: brightness(50%);
    transition: all .3s ease;
}

.add-cart:hover .add {
    display: block;

}

footer {
    width: 100%;

    background-color: #e5e5e5e5;
}

.media-icon {
    display: flex;
    justify-content: center;
    padding: 50px 0 10px 0;
}

.media-icon a {
    position: relative;
    font-size: 24px;
    color: #0000007c;
    margin-right: 10px;
    bottom: 0;
    transition: all .3s ease;
}

.media-icon a:hover {
    color: #000;
    bottom: 5px;
}

footer p {
    text-align: center;
    font-size: 12px;
}



@media screen and (max-width:500px) {
    html {
        scroll-padding-top: 0;
    }

    .header {
        padding: 0;
        position: relative;
    }

    .logo {
        padding-left: 5px;
    }

    .navbar {
        width: 100%;
    }

    .links {
        margin-top: 3px;
        flex-direction: column;
        display: none;
    }


    .hambur {
        display: block;
        margin-right: 2px;
        margin-top: 2px;
    }

    .links>li>a {
        background-color: #FF6F91;
        width: 100%;
        margin: 0;
        color: #fff;
        border-radius: 0px;
        transition: all .3s ease;
    }

    .links>li>a:hover {
        background-color: #FFC75F;
        border: 2px solid #fff;
    }

    .banner-bg {
        margin: 0;
        background-size: cover;
        background-position: right;
    }

    .banner-text {
        transform: translate(-50%, -25%);
        padding: 10px;
        border: 8px double #fff;
        background-color: rgba(0, 0, 0, 0.231);
    }

    .container {
        width: 100%;
        margin: 0;
    }

    #about,
    #coffee,
    #matcha {
        margin: 0;
    }

    .about-img img {
        width: 100%;
    }

    /* img {
        height: 100vh;
    } */
    .coffee-item img,
    .matcha-item img {
        height: 100%;
        display: block;
    }

    .about-text {
        width: 100%;
        padding: 10px;
    }

    .coffee-item:nth-child(2),
    .matcha-item:nth-child(2) {
        display: none;
    }

    .coffee-item:nth-child(3),
    .matcha-item:nth-child(3) {
        display: none;
    }

    .coffee-item:nth-child(1),
    .matcha-item:nth-child(1) {
        width: 100%;
        border-radius: 0;
    }

    .coffee,
    .matcha {
        position: relative;
    }

    .coffee-text {
        position: absolute;
        /* display: block; */
        width: 45%;
        top: 0;
        right: 0;
        margin: 10px;
        padding: 5px 0;
        background-color: rgba(0, 0, 0, 0.231);
        border: 8px double #fff;
        color: #fff;
    }

    .matcha-text {
        position: absolute;
        /* display: block; */
        width: 50%;
        top: 0;
        left: 0;
        margin: 10px;
        padding: 5px 0;
        background-color: rgba(0, 0, 0, 0.231);
        border: 8px double #fff;
        color: #fff;
    }

    .coffee-text h2,
    .matcha-text h2 {
        margin: 0;
    }

    .others-item {
        width: 200px;
        height: 200px;
    }

    .others-item img {
        width: 100%;
        display: block;
    }

    .others-item:nth-child(2) {
        order: 1;
    }

    .others-item:nth-child(3) {
        order: 4;
    }

    .others-item:nth-child(4) {
        order: 3;
    }

    .others-item:nth-child(5) {
        order: 5;
    }

    .others-item:nth-child(6) {
        order: 6;
    }
}